@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

#main-header {
  border-top:3px solid #ff7a59;
}


#main-nav {
  background:#102d4a;
}


#main-nav .dropdown-menu {
    top: 110%;
    border-radius: 0;
    background: #122c4c;
    border-top: 2px solid #fb7c51;
}


#main-nav .dropdown-menu .dropdown-item {
    font-weight: 200;
    font-size: 14px;
    color:#b7c1ce;
}

#main-nav .dropdown-menu .dropdown-item:hover {
  background:#18283c;
}



#main-nav .nav-link {
  background:#102d4a;
  font-size: 14px;
}

.body-content .top-section {
  border-bottom:1px solid #eaeaea;
  padding: 40px 0;
  background:#f9f9f9;
}

.body-content .top-section .page-heading {
  color:#122c4c;
  font-size: 24px;
  font-weight: 400;
  margin:0;
}

.body-content .main-content {
  padding:30px 0;
}

